@tailwind base;
@tailwind components;
@tailwind utilities;

html.modal-open {
    /* overflow: hidden !important; */
    /* margin-right: var(--scrollbar-width, 17px); */
    scrollbar-gutter: auto !important;
}
html.modal-open.scrollbar-present {
    margin-right: var(--scrollbar-width, 17px);
    overflow: hidden !important;
}